/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.wave {
    animation-name: wave-animation;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(11.0deg) }
     20% { transform: rotate(-7.0deg) }
     30% { transform: rotate(10.0deg) }
     40% { transform: rotate(-3.0deg) }
     50% { transform: rotate(9.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }

.gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(rgb(43, 142, 172), rgb(153, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.shapes {
  z-index: -1;
}
.shapes svg {
  margin: 0;
	animation: animate 20s linear infinite;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-1000px) rotate(360deg);
		opacity: 0;
	}
}